<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>512984020451-83cluvuktbocvs5hqev9aqb9ppgehvt1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.512984020451-83cluvuktbocvs5hqev9aqb9ppgehvt1</string>
	<key>API_KEY</key>
	<string>AIzaSyDfL4HhuTbkPjC13Z02-rAJEO_xCf8lqO4</string>
	<key>GCM_SENDER_ID</key>
	<string>512984020451</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vongbeng.assignment3-ios</string>
	<key>PROJECT_ID</key>
	<string>family-shopping-a735b</string>
	<key>STORAGE_BUCKET</key>
	<string>family-shopping-a735b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:512984020451:ios:a5508f6d4fb44ec3d65cd6</string>
	<key>DATABASE_URL</key>
	<string>https://family-shopping-a735b.firebaseio.com</string>
</dict>
</plist>